@layer components {
  .br-message {
    --message-background: var(--background);
    --message-color-icon: var(--color);
    --feedback-background: var(--background);
    --message-text: var(--color);
    background: var(--message-background);
    display: flex;
    margin-bottom: var(--spacing-scale-2x);
  }
  .br-message .content {
    color: var(--message-text);
    flex: 1;
    font-size: var(--font-size-scale-up-01);
    padding: var(--spacing-scale-3x) var(--spacing-scale-base)
      var(--spacing-scale-3x) var(--spacing-scale-2x);
  }
  .br-message .content .message-title {
    font-weight: var(--font-weight-semi-bold);
  }
  .br-message .content .message-body {
    font-weight: var(--font-weigth-regular);
  }
  .br-message .content a {
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
  }
  .br-message .content *:last-child {
    margin-bottom: 0;
  }
  .br-message .icon {
    align-items: center;
    color: var(--message-color-icon);
    display: flex;
    justify-content: center;
    margin: var(--spacing-vertical-center) var(--spacing-scale-2x);
    padding-left: var(--spacing-scale-2x);
    padding-right: var(--spacing-scale-2x);
  }
  .br-message .icon + .content {
    padding-left: 0;
  }
  .br-message .close {
    margin-right: var(--spacing-scale-base);
    margin-top: var(--spacing-scale-base);
  }
  .br-message.is-success,
  .br-message.success,
  .br-message[success] {
    --message-background: var(--success-alternative);
    --feedback-background: var(--success);
    --message-color-icon: var(--success);
  }
  .br-message.is-success .close .br-button,
  .br-message.success .close .br-button,
  .br-message[success] .close .br-button {
    --interactive: var(--message-color-icon);
    --interactive-rgb: var(--success-rgb);
  }
  .br-message.is-danger,
  .br-message.danger,
  .br-message[danger] {
    --message-background: var(--danger-alternative);
    --feedback-background: var(--danger);
    --message-color-icon: var(--danger);
  }
  .br-message.is-danger .close .br-button,
  .br-message.danger .close .br-button,
  .br-message[danger] .close .br-button {
    --interactive: var(--message-color-icon);
    --interactive-rgb: var(--danger-rgb);
  }
  .br-message.is-info,
  .br-message.info,
  .br-message[info] {
    --message-background: var(--info-alternative);
    --feedback-background: var(--info);
    --message-color-icon: var(--info);
  }
  .br-message.is-info .close .br-button,
  .br-message.info .close .br-button,
  .br-message[info] .close .br-button {
    --interactive: var(--message-color-icon);
    --interactive-rgb: var(--info-rgb);
  }
  .br-message.is-warning,
  .br-message.warning,
  .br-message[warning] {
    --message-background: var(--warning-alternative);
    --feedback-background: var(--warning);
  }
  .br-message.is-warning .close .br-button,
  .br-message.warning .close .br-button,
  .br-message[warning] .close .br-button {
    --interactive: var(--color);
    --interactive-rgb: var(--color-rgb);
  }
}
